<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Титульник</title>
    <style>

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf") format("truetype");
            font-weight: 300;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf") format("truetype");
            font-weight: 500;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-900"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
            font-weight: 900;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf") format("truetype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype");
            font-weight: 100;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf") format("truetype");
            font-weight: 100;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot");
            src: local("/static/fonts/MuseoSans/Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf") format("truetype");
            font-weight: 900;
            font-style: italic;
        }

    </style>
</head>
<body style="margin: 0; padding: 0">

<div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; position: relative;">
    <div class="pattern" style="line-height: 0; padding-left: 335px; position: relative;">
        <img src="/static/img/pattern3.png" style="height: 595px; position: relative;" alt="pattern">
    </div>
    <div class="container" style="padding: 0px 104px; position: absolute; top: 0; left: 0px;">
        <table style="border-spacing: 0px;
            width: 100%;
            border: none;
            box-sizing: content-box;
            border-collapse: unset;">
            <tr>
                <td style="height: 595px; padding: 0">
                    <table style="border-spacing: 0px;
                                  width: 601px;
                                  border: none;
                                  box-sizing: content-box;
                                  border-collapse: unset;">
                        <tr>
                            <td>
                                <div style="font-weight: 600;
                                        width: fit-content;
                                        font-size: 40px;
                                        background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;">
                                    О бизнес центре
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-top: 23px;">
                                    <table style="
                                        width: 100%;
                                        border-spacing: 0px;
                                        border: none;
                                        box-sizing: content-box;
                                        border-collapse: unset;">
                                        <tr style="vertical-align: bottom">
                                            <% keyFeatures.forEach(function(feature, index){ %>
                                            <td <%if(index < keyFeatures.length - 1) {%> style="border-right: 1px solid white" <%}%>>
                                                <div <%if(index !== 0) {%> style="padding: 0; text-align: center" <%} else {%> style="padding: 0" <%}%>>
                                                    <div style="text-align: left; width: fit-content; display: inline-block">
                                                        <div style="font-size: 24px;
                                                            display: inline-block;
                                                            width: fit-content;
                                                            font-weight: 600;
                                                            background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                                                            -webkit-background-clip: text;
                                                            -webkit-text-fill-color: transparent;">
                                                            <%=feature.name%> <%if(feature.desc === 'площадь') {%> м<sup><span style="font-size: 14px">2</span></sup><%}%></div>
                                                        <div style="width: fit-content; font-size: 14px; font-weight: 400; margin-top: 3px; color: #7B7B7B"><%=feature.desc%></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <% });%>
                                            <td width="auto">

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <% if(characteristics.length > 0) {%>
                        <tr>
                            <td>
                                <div style="font-weight: 600;
                                        margin-top: 32px;
                                        width: fit-content;
                                        font-size: 24px;
                                        background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;">Ключевые особенности</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-top: 24px">
                                    <table style="width: 100%">
                                        <tr>
                                            <% for(let i = 0; i < 3 ; i++) { %>
                                                <td style="vertical-align: top; width: 33%">
                                                    <table style="color: #7B7B7B; font-size: 14px;">
                                                        <% characteristics[i].forEach(function(charactArray, index){
                                                        if(charactArray) {
                                                        %>
                                                        <tr style="vertical-align: top;">
                                                            <td >
                                                                <%-charactArray.icon%>
                                                            </td>
                                                            <td>
                                                                <div style="margin-left: 8px">
                                                                    <div><%=charactArray.param%></div>
                                                                    <div style="font-size: 12px; color: #d2d6d8; line-height: 14px; font-weight: 400; margin-bottom: 20px"><%=charactArray.value%></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }}); %>
                                                    </table>
                                                </td>
                                            <% } %>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </td>
            </tr>
        </table>


    </div>
</div>

</body>
