
    <div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; position: relative;">
        <div class="pattern" style="position: relative; width: 100%; height: 100%; overflow: hidden; ">
            <img src="<%= patternSrc %>" style="width: 842px; height: 595px; position: relative; opacity: 0.95;" alt="pattern">
            <div style="background: black;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0"></div>
        </div>
        <div class="container" style="height: 100%; width: 100%; position: absolute; top: 0; left: 2px; color: white">
            <table style="height: 100%; width: 100%;
            border-spacing: 0px;
            border: none;
            box-sizing: content-box;
            border-collapse: unset;">
                <tr align="right">
                    <td>
                        <div style="position: relative;width: 632px;padding: 40px; background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                            <table style="height: 100%; width: 100%;
                                    border-spacing: 0px;
                                    border: none;
                                    box-sizing: content-box;
                                    border-collapse: unset;">
                                <tr>
                                    <td style="width: 32px">
                                        <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24 15V30L36.75 37.56L39.06 33.72L28.5 27.45V15H24ZM54 21V0L46.08 7.92C41.22 3.03 34.47 0 27 0C12.09 0 0 12.09 0 27C0 41.91 12.09 54 27 54C41.91 54 54 41.91 54 27H48C48 38.58 38.58 48 27 48C15.42 48 6 38.58 6 27C6 15.42 15.42 6 27 6C32.79 6 38.04 8.37 41.85 12.15L33 21H54Z" fill="url(#paint0_linear)"/>
                                            <defs>
                                                <linearGradient id="paint0_linear" x1="1.1063e-07" y1="-9.54285e-05" x2="60.439" y2="7.41089" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#008054"/>
                                                    <stop offset="1" stop-color="#B4D88B"/>
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                        <div style="font-style: normal;
                                            font-weight: 600;
                                            font-size: 40px;
                                            width: auto;
                                            background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;">Жопа с Реалти Гуайд
                                            <span style="font-size: 24px"></span>
                                        </div>
                                    </td>
                                    <td style="font-style: normal;
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 21px;">
                                        <%=prefix%>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="font-style: normal;
                                        font-weight: 600;
                                        font-size: 40px;
                                        line-height: 100%;">
                                        <div style="margin-top: 14px; width: 100%"><%=realtyName%></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="margin-top: 15px">
                                            <table style="height: 100%; width: 100%;
                                                border-spacing: 0px;
                                                border: none;
                                                box-sizing: content-box;
                                                border-collapse: unset;">
                                                <tr>
                                                    <td style="width: 23px">
                                                        <svg style="margin-top: 7px; margin-left: 1px;" width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6.00002 6.99968C5.26669 6.99968 4.66669 6.39968 4.66669 5.66634C4.66669 4.93301 5.26669 4.33301 6.00002 4.33301C6.73335 4.33301 7.33335 4.93301 7.33335 5.66634C7.33335 6.39968 6.73335 6.99968 6.00002 6.99968ZM10 5.79968C10 3.37968 8.23335 1.66634 6.00002 1.66634C3.76669 1.66634 2.00002 3.37968 2.00002 5.79968C2.00002 7.35968 3.30002 9.42634 6.00002 11.893C8.70002 9.42634 10 7.35968 10 5.79968ZM6.00002 0.333008C8.80002 0.333008 11.3334 2.47968 11.3334 5.79968C11.3334 8.01301 9.55335 10.633 6.00002 13.6663C2.44669 10.633 0.666687 8.01301 0.666687 5.79968C0.666687 2.47968 3.20002 0.333008 6.00002 0.333008Z" fill="white" fill-opacity="0.8"/>
                                                        </svg>
                                                    </td>
                                                    <td>
                                                        <div><%=location%></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 17px">
                                                        <svg style="margin-top: 10px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.17185 9.58938V10.28H12V9.58938H11.4498L9.5777 4.99951L7.9992 7.6794L6.4223 4.99951L4.54863 9.58938H4V10.28H6.82815V9.58938H6.40465L6.81692 8.44464L7.9992 10.3328L9.18308 8.44464L9.59535 9.58938H9.17185Z" fill="white" fill-opacity="0.8"/>
                                                            <rect x="1.65" y="1.64939" width="12.7" height="12.7" rx="6.35" stroke="white" stroke-opacity="0.8" stroke-width="1.3"/>
                                                        </svg>
                                                    </td>
                                                    <td>
                                                        <div style="margin-top: 7px; width: 100%"><%=subwayStations%></div>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="margin-top: 23px; width: 100%">
                                            <table style="height: 100%; width: 100%;
                                            border-spacing: 0px;
                                            border: none;
                                            box-sizing: content-box;
                                            border-collapse: unset;">
                                                <tr style="vertical-align: bottom">
                                                    <% features.forEach(function(feature, index){ %>
                                                        <td <%if(index < features.length - 1) {%> style="border-right: 1px solid white" <%}%>>
                                                            <div <%if(index !== 0) {%> style="padding: 0 24px" <%} else {%> style="padding: 0 24px 0 0" <%}%>>
                                                                <div style="font-size: 24px; font-weight: 600"><%=feature.name%> <%if(feature.desc === 'площадь') {%> м<sup>2</sup> <%}%></div>
                                                                <div style="font-size: 14px; font-weight: 400; margin-top: 3px"><%=feature.desc%></div>
                                                            </div>
                                                        </td>
                                                    <% });%>
                                                    <td width="auto">

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

