<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Титульник</title>
    <style>

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf") format("truetype");
            font-weight: 300;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf") format("truetype");
            font-weight: 500;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-900"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
            font-weight: 900;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf") format("truetype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype");
            font-weight: 100;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf") format("truetype");
            font-weight: 100;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot");
            src: local("/static/fonts/MuseoSans/Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf") format("truetype");
            font-weight: 900;
            font-style: italic;
        }

    </style>
</head>
<body style="margin: 0; padding: 0">
<%
var i = 0;
switch (photos.length % 4) {
    case 0: break;
    case 1:
%>
<div class="sheet" style="width: 842px; height: 595px; line-height: 0; position: relative;">
    <div class="pattern" style="position: relative; width: 100%; height: 100%; overflow: hidden; ">
        <img src="<%=photos[i]%>" style="width: 842px; height: 595px;" alt="photo">
    </div>
</div>
<%
        i = 1;
     	break;
    case 2:
%>
<div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; line-height: 0; position: relative;">
    <div class="pattern" style="position: absolute; width: 416px; overflow: hidden; ">
        <img src="<%=photos[i]%>" style="margin-left: -50%; height: 595px;" alt="pattern">
    </div>

    <div class="pattern" style="position: absolute; left: 426px; width: 416px; overflow: hidden; ">
        <img src="<%=photos[i + 1]%>" style="margin-left: -50%; height: 595px;" alt="pattern">
    </div>
</div>
<%
        i = 2;
        break;
    case 3:
%>
<div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; line-height: 0; position: relative;">
    <div class="pattern" style="position: absolute; width: 416px; overflow: hidden; ">
        <img src="<%=photos[i]%>" style="margin-left: -50%; height: 595px;" alt="pattern">
    </div>
    <div class="pattern" style="position: absolute; left: 426px; overflow: hidden;">
        <img src="<%=photos[i + 1]%>" style="width: 416px; height: 292px;" alt="pattern">
    </div>
    <div class="pattern" style="position: absolute; bottom: 0; left: 426px; overflow: hidden;">
        <img src="<%=photos[i + 2]%>" style="width: 416px; height: 292px;" alt="pattern">
    </div>
</div>
<%
        i = 3;
        break;
}
%>

<% for(; i < photos.length; i = i + 4) { %>
<div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; line-height: 0; position: relative;">
    <div class="pattern" style="position: absolute; width: 416px; overflow: hidden; ">
        <img src="<%=photos[i]%>" style="width: 416px; height: 292px;" alt="pattern">
    </div>
    <div class="pattern" style="position: absolute; left: 426px; width: 416px; overflow: hidden; ">
        <img src="<%=photos[i + 1]%>" style="width: 416px; height: 292px;" alt="pattern">
    </div>
    <div class="pattern" style="position: absolute; bottom: 0; overflow: hidden; ">
        <img src="<%=photos[i + 2]%>" style="width: 416px; height: 292px;" alt="pattern">
    </div>
    <div class="pattern" style="position: absolute; bottom: 0; left: 426px; overflow: hidden; ">
        <img src="<%=photos[i + 3]%>" style="width: 416px; height: 292px;" alt="pattern">
    </div>
</div>
<% } %>
</body>
