<div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; position: relative;">
        <div class="pattern" style="position: relative; width: 100%; height: 100%; overflow: hidden; ">
            <img src="<%= patternSrc %>" style="width: 842px; height: 595px; position: relative; opacity: 0.95;" alt="pattern">
            <div style="background: black;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0"></div>
        </div>
        <div class="container" style="height: 100%; width: 100%; position: absolute; top: 0; left: 2px; color: white">
            <table style="height: 100%; width: 100%;
            border-spacing: 0px;
            border: none;
            box-sizing: content-box;
            border-collapse: unset;">
                <tr align="right">
                    <td>
                        <div style="width: 632px;
                            padding: 40px;
                            background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                            opacity: 0.9;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                            <table style="height: 100%; width: 100%;
                                    border-spacing: 0px;
                                    border: none;
                                    box-sizing: content-box;
                                    border-collapse: unset;">
                                <tr>
                                    <td style="width: 32px">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="11.9996" r="12" fill="white"/>
                                            <path d="M17.3333 8.6663H14.6666V7.33297L13.3333 5.99963H10.6666L9.33331 7.33297V8.6663H6.66665C5.93331 8.6663 5.33331 9.2663 5.33331 9.99963V13.333C5.33331 13.833 5.59998 14.253 5.99998 14.4863V16.6663C5.99998 17.4063 6.59331 17.9996 7.33331 17.9996H16.6666C17.4066 17.9996 18 17.4063 18 16.6663V14.4796C18.3933 14.2463 18.6666 13.8196 18.6666 13.333V9.99963C18.6666 9.2663 18.0666 8.6663 17.3333 8.6663ZM10.6666 7.33297H13.3333V8.6663H10.6666V7.33297ZM6.66665 9.99963H17.3333V13.333H14V11.333H9.99998V13.333H6.66665V9.99963ZM12.6666 13.9996H11.3333V12.6663H12.6666V13.9996ZM16.6666 16.6663H7.33331V14.6663H9.99998V15.333H14V14.6663H16.6666V16.6663Z" fill="#49A942"/>
                                        </svg>
                                    </td>
                                    <td style="font-style: normal;
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 21px;">
                                        <%=prefix%>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="font-style: normal;
                                        font-weight: 600;
                                        font-size: 40px;
                                        line-height: 100%;">
                                        <div style="margin-top: 14px; width: 100%"><%=realtyName%></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="margin-top: 15px">
                                            <table style="height: 100%; width: 100%;
                                                border-spacing: 0px;
                                                border: none;
                                                box-sizing: content-box;
                                                border-collapse: unset;">
                                                <tr>
                                                    <td style="width: 23px">
                                                        <svg style="margin-top: 7px; margin-left: 1px;" width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6.00002 6.99968C5.26669 6.99968 4.66669 6.39968 4.66669 5.66634C4.66669 4.93301 5.26669 4.33301 6.00002 4.33301C6.73335 4.33301 7.33335 4.93301 7.33335 5.66634C7.33335 6.39968 6.73335 6.99968 6.00002 6.99968ZM10 5.79968C10 3.37968 8.23335 1.66634 6.00002 1.66634C3.76669 1.66634 2.00002 3.37968 2.00002 5.79968C2.00002 7.35968 3.30002 9.42634 6.00002 11.893C8.70002 9.42634 10 7.35968 10 5.79968ZM6.00002 0.333008C8.80002 0.333008 11.3334 2.47968 11.3334 5.79968C11.3334 8.01301 9.55335 10.633 6.00002 13.6663C2.44669 10.633 0.666687 8.01301 0.666687 5.79968C0.666687 2.47968 3.20002 0.333008 6.00002 0.333008Z" fill="white" fill-opacity="0.8"/>
                                                        </svg>
                                                    </td>
                                                    <td>
                                                        <div><%=location%></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 17px">
                                                        <svg style="margin-top: 10px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9.17185 9.58938V10.28H12V9.58938H11.4498L9.5777 4.99951L7.9992 7.6794L6.4223 4.99951L4.54863 9.58938H4V10.28H6.82815V9.58938H6.40465L6.81692 8.44464L7.9992 10.3328L9.18308 8.44464L9.59535 9.58938H9.17185Z" fill="white" fill-opacity="0.8"/>
                                                            <rect x="1.65" y="1.64939" width="12.7" height="12.7" rx="6.35" stroke="white" stroke-opacity="0.8" stroke-width="1.3"/>
                                                        </svg>
                                                    </td>
                                                    <td>
                                                        <div style="margin-top: 7px; width: 100%"><%=subwayStations%></div>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="margin-top: 23px; width: 100%">
                                            <table style="height: 100%; width: 100%;
                                            border-spacing: 0px;
                                            border: none;
                                            box-sizing: content-box;
                                            border-collapse: unset;">
                                                <tr style="vertical-align: bottom">
                                                    <% features.forEach(function(feature, index){ %>
                                                        <td <%if(index < features.length - 1) {%> style="border-right: 1px solid white" <%}%>>
                                                            <div <%if(index !== 0) {%> style="padding: 0 24px" <%} else {%> style="padding: 0 24px 0 0" <%}%>>
                                                                <div style="font-size: 24px; font-weight: 600"><%=feature.name%> <%if(feature.desc === 'площадь') {%> м<sup>2</sup> <%}%></div>
                                                                <div style="font-size: 14px; font-weight: 400; margin-top: 3px"><%=feature.desc%></div>
                                                            </div>
                                                        </td>
                                                    <% });%>
                                                    <td width="auto">

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

